{% extends 'base.html.twig' %}

{% block title %}Liste des métiers{% endblock %}

{% block body %}
    <h1>Liste des métiers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profession in professions %}
            <tr>
                <td>{{ profession.id }}</td>
                <td>{{ profession.name }}</td>
                <td>
                    <a href="{{ path('profession_show', {'id': profession.id}) }}">Voir</a>
                    <a href="{{ path('profession_edit', {'id': profession.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun métier renseigné</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profession_new') }}">Créer un nouveau métier</a>
{% endblock %}
