{% extends 'base.html.twig' %}

{% block title %}Liste des salons{% endblock %}

{% block body %}
    <h1>Liste des salons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Créé le</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lobby in lobbies %}
            <tr>
                <td>{{ lobby.id }}</td>
                <td>{{ lobby.createdAt ? lobby.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lobby.name }}</td>
                <td>{{ lobby.city }}</td>
                <td>{{ lobby.address }}</td>
                <td>{{ lobby.zipcode }}</td>
                <td>{{ lobby.active ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('lobby_show', {'id': lobby.id}) }}">Voir</a>
                    <a href="{{ path('lobby_edit', {'id': lobby.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de salons à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lobby_new') }}">Créer nouveau</a>
{% endblock %}
