{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <caption>Statut : CLE</caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>téléphone</th>
                                <th>Créé le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                {% if user.status ==  0 %}
                                    
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>

                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>Statut : Cadre</caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>téléphone</th>
                                <th>Créé le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                {% if user.status ==  1 %}
                                    
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>

                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>Statut : Conducteur de travaux</caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>téléphone</th>
                                <th>Créé le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                {% if user.status == 2 %}
                                    
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>

                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>Status : chef d'équipe</caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>téléphone</th>
                                <th>Créé le</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                {% if user.status == 3 %}
                                    
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ user.password }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>

                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>Statut : Employé</caption>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>téléphone</th>
                                <th>Créé le</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                {% if user.status == 4 %}
                                    
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>

                                {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <div class="col-md-6 addUserBtn">
                <a href="{{ path('user_new') }}" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Créer un nouvel utilisateur"><i class="fas fa-user-plus fa-5x text-success createUser"></i></a>
            </div>
        </div>

    
{% endblock %}
{% block javascripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
</script>
{% endblock %}

