{% extends 'base.html.twig' %}

{% block title %}Doc index{% endblock %}

{% block body %}
    <h1>Doc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td>{{ doc.id }}</td>
                <td>{{ doc.filename }}</td>
                <td>{{ doc.createdAt ? doc.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('doc_show', {'id': doc.id}) }}">show</a>
                    <a href="{{ path('doc_edit', {'id': doc.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doc_new') }}">Create new</a>
{% endblock %}
